* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h3,
i {
    color: #00308F;
}

hr {
    margin-block: .5rem;
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-inline: -1rem;
}

.col {
    padding: 1rem;
    width: calc(100% / 3);
}

.card {
    position: relative;
    background: #eeeeee;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100%;
}

.date {
    position: absolute;
    right: 15px;
    top: 0;
    transform: translateY(-50%);
    background: #00308F;
    border-radius: 5px;
    color: white;
    padding: .25rem .5rem;
    font-size: .6rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.tag::before {
    content: "#";
}

.tag {
    border-radius: 5px;
    background: gray;
    color: white;
    font-size: .75rem;
    font-weight: bold;
    padding: 0.2rem .5rem;
}